{% extends 'layout/base.html' %}
{% block content %}
<style>
  .bullet-points{
    list-style-type: disc;
    padding-left: 20px;
  }
  textarea {
    width: 100%;
    margin-bottom: 20px;
}
</style>
<div class="col-xl-6">
    <div class="card p-4">
      <form method="post">
        {% csrf_token %}
        <div class="row gy-4">          
          <div class="col-md-6 ">
            <input type="text" class="form-control" name="title" placeholder="Job title" required>
            </div>
            
            <!-- <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required>
              </div> -->
              <div class="col-md-12">
                <textarea class="form-control bullet-list" id="responsibilitiesTextarea" name="responsibilities" rows="6" placeholder="Responsibilities" required></textarea>
              </div>
                
              <div class="col-md-12">
                <textarea class="form-control bullet-list" name="requirements" rows="6" placeholder="Requirements" required></textarea>
              </div>
                  
          <div class="col-md-12 text-center">
            <button class="btn btn-success" type="submit">Post Job</button>
          </div>

        </div>
      </form>
    </div>
  </div>
  <!-- scripts -->
  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const bulletListTextareas = document.querySelectorAll('.bullet-list');
        
        bulletListTextareas.forEach(textarea => {
            textarea.addEventListener('input', function() {
                let lines = this.value.split('\n');
                
                for (let i = 0; i < lines.length; i++) {
                    if (lines[i].trim() !== '' && !lines[i].startsWith('• ')) {
                        lines[i] = '• ' + lines[i].trim();
                    }
                }
                
                this.value = lines.join('\n');
            });
    
            textarea.addEventListener('keydown', function(e) {
                if (e.key === 'Enter') {
                    e.preventDefault();
                    let cursorPosition = this.selectionStart;
                    let currentContent = this.value;
                    let newContent = currentContent.slice(0, cursorPosition) + '\n• ' + currentContent.slice(cursorPosition);
                    this.value = newContent;
                    this.selectionStart = this.selectionEnd = cursorPosition + 3;
                }
            });
        });
    });
  </script>

{% endblock %}