{% extends 'layout/base.html' %}
{% block content %}
<section class="section contact">
  <div class="row gy-4">
    <div class="col-xl-6">
      <div class="row">
    </div>
    </div>
    <h1><strong>JOB TITLE: </strong>{{job.title}}</h1>
    <div class="col-lg-6">
  <div class="info-box card">
    <i class="bi bi-briefcase"></i>
      <h3><strong>TITLE:</strong> {{ job.title }}</h3> 
      <p><strong>Time posted: </strong>{{ job.timestamp }}</p> 
      <p>{{job.id}}</p>
      <p><strong>RESPONSIBILITIES:</strong> {{job.responsibilities}}</p>
      <p><strong>REQUIREMENTS:</strong> {{job.requirements}}</p>
      <div class="col-md-12 text-center">
        <a href="#" class="btn btn-success" type="submit">Apply</a>
      </div>
  </div>
</div>
        </div>
      </div>
    </section>

{% endblock %}