{% extends 'layout/base.html' %}
{% load static %}
{% block content %}
<!-- Additional CSS -->
<!-- <style>
    body, html {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden; /* Remove scrollbars if any */
    }
    .container-fluid {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .card {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 2rem;
        border: none; /* Remove any border */
        box-shadow: none; /* Remove any shadow */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .form-control {
        width: 100%;
    }
</style> -->
<div class="text-center">
        <h4>Step 4 of 4</h4>
        <h3>Personal Details</h3>
</div>
<div class="container-fluid">
    <div class="card p-5">
        <h3 class="text-center"><b>Statutory Documents</b></h3>
        <p class="text-center">Upload scanned pdf copies of <b>CERTIFIED ORIGINAL DOCUMENTS</b> as outlined below</p>
        <!-- <p>
            + Cover Letter<br>
            + National ID (Both sides)<br>
            + Curriculum Vitae<br>
            + Good Conduct.<br>
        </p> -->
        
        <form method="post" id="documents" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="documentContainer">
            <div class="row">

                <div class="col-md-5 mt-3">
                    <div class="form-group">
                        <label for="name"><strong>Document Name</strong></label>
                        <select class="form-control js-example-basic-single" id="name" required name="name">
                            <option disabled selected value="">
                                --Select Name--
                            </option>
                            <option value="MINUTES">MINUTES</option>
                            <option value="REPORT">REPORT</option>
                            <option value="OTHER">OTHER</option>
                        </select>
                        <div class="invalid-feedback">this field is required!</div>
                    </div>
                </div>
  
                <div class="col-md-5 mt-3">
                    <div class="form-group">
                        <label for="file"><strong>File</strong></label>
                        <input type="file" class="form-control" id="file" name="file" required accept="application/pdf"/>
                        <div class="invalid-feedback">this field is required!</div>
                    </div>
                </div>
            <div class="col-md-2 mt-5">
                <button type="button" class="btn btn-sm btn-secondary" id="addRow">&plus;</button>

            </div>
            </div>
            </div>
            <!-- <div class="mb-3">
                <label for="national_id" class="form-label">2. National ID:</label>
                <input type="file" class="form-control" id="national_id" name="national_id" accept="image/*">
            </div>
            <div class="mb-3">
                <label for="curriculum_vitae" class="form-label">3. Curriculum Vitae:</label>
                <input type="file" class="form-control" id="curriculum_vitae" name="curriculum_vitae">
            </div>
            <div class="mb-3">
                <label for="good_conduct_certificate" class="form-label">4. Good Conduct Certificate:</label>
                <input type="file" class="form-control" id="good_conduct_certificate" name="good_conduct_certificate">
            </div> -->
            <p class="text-muted text-center">--only pdfs allowed--</p>
            <div class="text-center">
                <button type="submit" class="btn btn-success btn-submit-documents">SUBMIT ALL DOCUMENTS</button>
            </div>
        </form>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block extrajs %}
<script>
    $(document).ready(function () {
        $('#addRow').on('click', function () {
            var container = $('#documentContainer');
            var html = `
            <div class="row">  
                <div class="col-md-5 mt-3">
                    <div class="form-group">
                        <label for="name"><strong>Document Name</strong></label>
                        <select class="form-control js-example-basic-single" id="name" required name="name">
                            <option disabled selected value="">
                                --Select Name--
                            </option>
                            <option value="MINUTES">MINUTES</option>
                            <option value="REPORT">REPORT</option>
                            <option value="OTHER">OTHER</option>
                        </select>
                        <div class="invalid-feedback">this field is required!</div>
                    </div>
                </div>
  
                <div class="col-md-5 mt-3">
                    <div class="form-group">
                        <label for="file"><strong>File</strong></label>
                        <input type="file" class="form-control" id="file" name="file" required accept="application/pdf"/>
                        <div class="invalid-feedback">this field is required!</div>
                    </div>
                </div>
                  
                <div class="col-md-2 mt-5">
                  <button type="button" class="btn btn-sm btn-danger removeAddPart">&times;</button>
                </div>
              </div>`;
            container.append(html);
        });

        $(document).on('click', '.removeAddPart', function () {
            $(this).closest('.row').remove();
        });
    });
</script>
{% endblock %}
