{% extends "layout/base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="utf-8">
   <meta content="width=device-width, initial-scale=1.0" name="viewport">
   <title>Recruitment Portal</title>

  <!-- Google Fonts -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

   <style>
    body {
      font-family: 'Open Sans', sans-serif;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

    .card-row {
      margin-top: 20px;
      margin-bottom: 20px;
      align-items: center;
    }

    .card {
      border: none;
      width: 200%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color:aliceblue;
    }

    .card-title {
      font-size: 1.5rem;
      font-weight: bold;
      color: #110e04;
    }

    .card-body {
      padding: 20px;
      width:100%;

    }
    .accordion-section {
      margin-bottom: 20px;
      margin-top: 20px;
      color: #000;
    }

    .accordion-item {
      margin-top: 20px;
      color: #800d0d;
      font-size: medium;
      font-family:Arial, ;
    }

    .accordion-button {
      border: none !important;
      background-color: transparent !important;
      color: #000; /* Set the desired text color */
    }

    .accordion-button:hover,
    .accordion-button:focus {
      background-color: transparent !important;
      border-color: #0dc028 !important; 
    }
  </style>
  
  </head>
  <body>
    <h1>Frequently Asked Questions</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Frequently Asked Questions</li>
        </ol>
      </nav>
      <h5 class="card-title">Basic Questions</h5>
      <section class="section">
        <div class="row">
          <div class="col-lg-6">
  
            <div class="card">
              <div class="card-body">
              
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        How do I upload my resume?
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                      <div class="accordion-body"><p>
                        Go to your profile and click on the "Upload Resume" button. 
                        Select the file from your computer and upload it to your profile.
                      </p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo2">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="true" aria-controls="collapseTwo2">
                          Is my personal information secure?
                        </button>
                      </h2>
                      <div id="collapseTwo2" class="accordion-collapse collapse show" aria-labelledby="headingTwo2" data-bs-parent="#accordionExample">
                        <div class="accordion-body"><p>
                          Yes, we take data privacy and security very seriously.  
                          Please refer to our Privacy Policy for more information on how we protect your personal information.
                        </p>
                        </div>
                      </div>
                    </div>
                <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree3">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree3" aria-expanded="true" aria-controls="collapseThree3">
                        How do I create an employer account?
                      </button>
                    </h2>
                    <div id="collapseThree3" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                       Click on the "Employer Sign Up" button on the homepage. Fill in the required details and verify your email to activate your account. </div>
                    </div>
                  </div>

                  <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingFour4">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour4" aria-expanded="true" aria-controls="collapseFour4">
                          How long does it take to hear back after applying?
                        </button>
                      </h2>
                      <div id="collapseFour4" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body"><p>
                          The response time varies by employer. Typically, it can take anywhere from a few days to a few weeks. If you have not heard back within a reasonable time frame, you can follow up with the employer.
                        </div>
                      </div>
                    </div>
                  </div>
                    
                  <div class="accordion" id="accordionExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFive5">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive5" aria-expanded="true" aria-controls="collapseFive5">
                        How secure is my personal information on this portal?
                      </button>
                    </h2>
                    <div id="collapseFive5" class="accordion-collapse collapse show" 
                        aria-labelledby="headingFive5" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        This is the first item's accordion body.It is hidden by default, until the collapse 
                        plugin adds the appropriate classes that we use to style each element. 
                        These classes control the overall appearance, as well as the 
                        showing and hiding via CSS transitions. 
                      </div>
                    </div>
                  </div>
                </div>
                
                  
                </div> 
              </div>
              <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                Designed: <a href="https://github.com/Flu-ffy/final-project" target="_blank">ICTA attachees</a>
              </div>
                
              </div>
            </div>
          </div>
        </div>
      </section>   
 

  </body>
</html>
{% endblock %}
